/*font-family: 'Kaushan Script', cursive;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
html, body {
    font-family: 'Roboto', sans-serif;
}

.first {
    background: url("../images/eagle.jpg") top center;
    background-size: cover;
}

.first-logo {
    width: 86px;
    height: 23px;
}

.first-menu {
    display: flex;
    justify-content: space-between;
}

.first-menu a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.first-menu a:hover {
    color: #fce38a;
    text-decoration: none;
    border-bottom: 3px #fce38a solid;
    transition-duration: 400ms;
}

.first-icons a {
    margin-left: 42px;
}

.first-icons a:hover {
    text-decoration: none;
}

header {
    padding: 20px 0;
}

.first-slider {
    text-align: center;
    padding: 60px 0 150px;
}

.first-slider__slogan {
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
}

.first-slider__name {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    max-width: 802px;
    margin: auto;
}

.first-slider__name:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 70px auto 50px;
}

.first-slider__btn {
    height: 40px;
    border: 3px solid #ffffff;
    padding: 0 32px;
    background: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.first-slider__btn:hover {
    background: white;
    color: #fce38a;
    border-color: #fce38a;
}

.second-content {
    text-align: center;
}

.content-slogan {
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    margin: 90px auto 23px;
}

.content-name {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-name:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 47px;
}

.second-content__text {
    width: 70%;
    margin: auto;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.second-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 15px 110px 15px;
}

.second-slider__bg {
    width: 30%;
    background-color: #95e1d3;
    position: static;
}

.second-slider__item:hover {
    position: relative;
    bottom: 10px;
    right: 10px;
    transition-duration: 700ms;
}

.second-slider__img {
    width: 100%;
}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 270px;
    background-color: #95e1d3;
}

.third-content__number {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.third-content__text {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}


.fourth-content {
    text-align: center;
}

